:root {
    --main-font-family: "Fira Code";

    --neutral-bg-dark: hsl(250, 20, 10);
    --neutral-bg-medium: hsl(250, 20, 30);
    --neutral-bg-light: hsl(250, 20, 60);

    --neutral-text-sharp: hsl(250, 20, 95);
    --neutral-text-muted: hsl(250, 20, 85);
}

html {
    background-color: var(--neutral-600);
    width: 100vw;
    height: 100vh;
}

.root {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

*:focus-visible {
    outline: solid 2px green;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-300);
    font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: var(--heading-1);
    line-height: var(--lineheight-h2);
}

h2 {
    font-size: var(--heading-2);
    line-height: var(--lineheight-h2);
}

h3 {
    font-size: var(--heading-3);
    line-height: var(--lineheight-h3);
}

h4 {
    font-size: var(--heading-4);
    line-height: var(--lineheight-h4);
}

h5 {
    font-size: var(--heading-5);
    line-height: var(--lineheight-h5);
}

h6 {
    font-size: var(--heading-6);
    line-height: var(--lineheight-h6);
}

p,
span,
div,
button,
select,
label,
a,
li,
td,
th {
    line-height: var(--lineheight-body);
}

input,
textarea {
    line-height: var(--lineheight-input);
}
