:root {
    /* Typography */
    --main-font-family: "Fira Code";
    --lineheight-h6: 24px;
    --lineheight-h5: 28.8px;
    --lineheight-h4: 40.8px;
    --lineheight-h3: 57.6px;
    --lineheight-h2: 72px;
    --lineheight-body: 21.6px;

    /* Spacing */
    --radius-small: 8px;
    --radius-normal: 16px;
    --radius-large: 24px;

    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;

    /* Colors */
    --green-1: #0a1610;
    --green-2: #152d21;
    --green-3: #1f4331;
    --green-4: #2a5a41;
    --green-5: #347052;
    --green-6: #3e8662;
    --green-7: #499d72;
    /* Utilizar color-mix en vez de esto
  --verde-transparente-1: rgba(10 21 15 / 0.9); */
    --neutral-1: #243048;
    --neutral-5: #acc5d2;
    --neutral-4: #819cb0;
    --neutral-2: #3e506b;
    --neutral-3: #5d758d;
    --neutral-6: #d6e2e9;
    --neutral-7: #dee8ed;

    /* Headings */
    --heading-1: 96px;
    --heading-2: 60px;
    --heading-3: 48px;
    --heading-4: 34px;
    --heading-5: 24px;
    --heading-6: 20px;
    --body-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("./assets/samuel-field-OyamzdtPqfw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

html::before {
    width: 100%;
    background-color: color-mix(in srgb, var(--green-1) 100%, transparent 100%);
    height: 100%;
    content: "";
    position: absolute;
    z-index: -1000;
}
