:root {
    --bg-ultra-dark: hsl(250, 50%, 6%);
    --bg-dark: hsl(250, 20%, 15%);
    --bg-medium: hsl(250, 20%, 30%);
    --bg-light: hsl(250, 20%, 60%);
    --bg-low-opacity: hsla(250, 20%, 10%, 0.7);

    --error-color: hsl(0, 100%, 65%);

    --text-sharp: hsl(250, 20%, 95%);
    --text-muted: hsl(250, 20%, 85%);

    --main-font: "Merriweather";
    --secondary-font: "IBM Plex Sans";

    --padding-section-vertical: 60px;
    --padding-horizontal: 16px;
}

html {
    width: 100vw;
    height: 100vh;
}

.root {
    height: 100%;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: var(--bg-ultra-dark);
}

*:focus-visible {
    outline: solid 2px hsl(250, 51%, 85%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-sharp);
    font-family: var(--secondary-font);
}

h1,
h2,
label,
summary {
    font-family: var(--main-font);
    font-weight: normal;
}

header p {
    color: var(--text-muted);
}

img {
    height: 20vw;
    max-height: 200px;
    min-height: 85px;
}

button {
    cursor: pointer;
}
