:root {
    /* Typography */
    --main-font-family: "Fira Code";
    --lineheight-h1: 115.2px;
    --lineheight-h2: 72px;
    --lineheight-h3: 57.6px;
    --lineheight-h4: 40.8px;
    --lineheight-h5: 28.8px;
    --lineheight-h6: 24px;
    --lineheight-body: 21.6px;
    --lineheight-input: 15.6px;

    /* Headings */
    --heading-1: 96px;
    --heading-2: 60px;
    --heading-3: 48px;
    --heading-4: 34px;
    --heading-5: 24px;
    --heading-6: 20px;
    --body-size: 18px;
    --input-size: 13px;

    /* Spacing */
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;

    --radius-small: 8px;
    --radius-normal: 16px;
    --radius-large: 24px;

    /* Colors */
    --green-1: #0a1610;
    --green-2: #152d21;
    --green-3: #1f4331;
    --green-4: #2a5a41;
    --green-5: #347052;
    --green-6: #3e8662;
    --green-7: #499d72;
    --neutral-1: #243048;
    --neutral-5: #acc5d2;
    --neutral-4: #819cb0;
    --neutral-2: #3e506b;
    --neutral-3: #5d758d;
    --neutral-6: #d6e2e9;
    --neutral-7: #dee8ed;
}

html {
    background-image: url("./assets/samuel-field-OyamzdtPqfw-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
}

*:focus-visible {
    outline: solid 2px var(--green-6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--neutral-7);
    font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: var(--heading-1);
    line-height: var(--lineheight-h2);
}

h2 {
    font-size: var(--heading-2);
    line-height: var(--lineheight-h2);
}

h3 {
    font-size: var(--heading-3);
    line-height: var(--lineheight-h3);
}

h4 {
    font-size: var(--heading-4);
    line-height: var(--lineheight-h4);
}

h5 {
    font-size: var(--heading-5);
    line-height: var(--lineheight-h5);
}

h6 {
    font-size: var(--heading-6);
    line-height: var(--lineheight-h6);
}

body {
    height: 100%;
    line-height: var(--lineheight-body);
}

p,
span,
div,
button,
select,
label,
a,
li,
td,
th {
    line-height: var(--lineheight-body);
}

input,
textarea {
    line-height: var(--lineheight-input);
}
